body{
    font: 12pt Arial;
}

p{
    text-align: justify;
    text-indent: 18pt;
}

p.meio{
text-align: center;
}

p.dir { 
    text-align: left;
}

p.especial {
    background-color: rgba(200, 255, 0, 0.468);
}